h1 {
    font-size: var(--police-tres-grand);
}


a {
    font-size: var(--police-tres-petit);
}

h2 {
    margin-bottom: var(--espace-grand);
}

h3 {
    /* font-size: var(--police-grand); */
    color: var(--gris-moyen);
}